.main_left {
  width: 90px;
  height: 100%;
  float: left;
  /*区域滚动scroll的父盒子加定位*/
  position: relative;
}

.main_left ul li a {
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right:1px solid #ccc;
  background-color: #E3E4E5;
  color: #666;
}

.main_left ul li a.current {
  background-color: #fff;
  border-right:none;
}
.main_content {
  overflow: hidden;
  height: 100%;
  /*区域滚动的父盒子加定位*/
  position: relative;
}
.main_content ul {
  padding:10px;
}
.main_content ul li {
  float: left;
  width: 33%;
  
}
.main_content ul li a {
  display: block;
}
.main_content ul li  img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.main_content ul li  p {
  text-align: center;
}
