/*初始化一些不需要的样式*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom:55px;
  overflow: hidden;
}
.lt_header {
  height: 45px;
  width: 100%;
  background-color:#006699;
  position: absolute;
  top: 0;
  left: 0;
  padding:0 45px;
  text-align: center;
  line-height:45px;
  z-index:999;
  
}
.lt_header .icon_left,
.lt_header .icon_right{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  color: #fff;
  
}
.lt_header .icon_left {
  left: 0;
}

.lt_header .icon_right {
  right: 0;
 
}
.lt_header .title h3 {
  color: #fff;
  font-size: 20px;
  font-weight:normal;
  line-height: 45px;
  margin: 0;
  
}
.lt_main {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt_footer {
  height: 55px;
  width: 100%;
  background-color:#006699;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lt_footer li {
  float: left;
  width: 25%;
}
.lt_footer li a {
  display: block;
  color: #fff;
  text-align: center;
  margin-top:8px;
}
.lt_footer li a p {
  margin: 0;
  color: #fff;
}
 img  {
  width: 100%;
  height: 100%;
  display: block;
}